html {
 box-sizing: border-box;
}
​*, *​:before, *:after {
 box-sizing: inherit;
}

h1  {
	background-color: red;
	padding: 10px;
	border: black 2px solid;
	width: 50%;
}

p {
	background-color: blue;
	color: white;
	padding: 10px;
	border: black 2px solid;
}

code {
	background-color: white;
	color: black;
	padding: 5px 10px 5px 10px;
	border: 1px;
}