body{
    background-color: white;
    border-top: solid 5px black;
    border-bottom: solid 5px black;
    padding: 20px;
    margin: 20px;
}

header{
    text-align: center;
    color: black;
}

a {
    color: black;
}

footer {
    text-align: center;
}
